<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
       
        </div>
        <div class="col-6 col-md">
          <h5>Server Side Technologies</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">Spring Boot</a></li>
            <li><a class="text-muted">ORM - Hibernate</a></li>
            <li><a class="text-muted">Generic Repository Patterns</a></li>
            <li><a class="text-muted">Unit of Work Pattern</a></li>
            <li><a class="text-muted">Specification Pattern</a></li>
            <li><a class="text-muted">Clean Architecture Pattern - Hexagonal</a></li>
            <li><a class="text-muted">Azure Redis Cache</a></li>
            <li><a class="text-muted">Elastic Search</a></li>
            <li><a class="text-muted">Mysql </a></li>
            <li><a class="text-muted">Swagger</a></li>
            <li><a class="text-muted">Stripe Implementation</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Client Side Technologies</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">Angular 11</a></li>
            <li><a class="text-muted">Bootstrap 4</a></li>
            <li><a class="text-muted">ngx-bootstrap</a></li>
            <li><a class="text-muted">Font Awesome</a></li>
            <li><a class="text-muted">Lazy Loading</a></li>
            <li><a class="text-muted">Caching</a></li>
            <li><a class="text-muted">RXJS</a></li>
            <li><a class="text-muted">Design Components</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://myview.rahulnivi.net" target="_blank">Kumar Shivam</a></li>
            <li><a class="text-muted" href="https://twitter.com/rahulsahay19/" target="_blank"><i class="fa fa-twitter"> For Latest Updates</i></a></li>
            <li><a class="text-muted fa fa-github" href="https://github.com/rahulsahay19/eCommerce-App" target="_blank"> </a> </li>
            <li><a class="text-muted" href="https://www.sportsjam.in/" target="_blank"></a></li>
            <li><a class="text-muted" href="https://myview.rahulnivi.net" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>