<div >
    <div class="d-flex justify-content-center mt-5 login-background-color" style="padding-top: 40px; padding-bottom: 80px;">
        <div class="col-3" style="background-color: white;">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                </div>
    
    
                <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
                <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
                <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
                <ul class="text-danger list-unstyled" >
                    <li *ngFor="let err of errors">
                        {{err}}
                    </li>
                </ul>
    
                <button [disabled]="registerForm.invalid" class="btn btn-success btn-lg btn-block signup-btn"
                    type="submit">Register</button>
    
    
            </form>
            <div class="row" style="height: 13px;"></div>
        </div>
    
    </div>
</div>
