<!-- <p>product-catalog works!</p> -->
<!-- <div class="container" style="margin-right: 1px;">
    <div class="row">
        <div class="col-10 col-sm-8 col-md-3 col-lg-3" *ngFor="let product of productList">
            <div class="card" style="width: 70%;height: 50%;">
                <img class="card-img" style="height: 100%;"
                    src="{{product.imageUrl}}"
                    alt="Vans">
                <div class="card-img-overlay d-flex justify-content-end">
                    <a href="#" class="card-link text-secondry like">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                <div class="card-body" style="padding-top: 0%;">
                    <h3 class="card-title" style="padding-top: 0px;margin-bottom:0px">{{product.productTitle}}</h3>
                    <h4 class="card-subtitle mb-2 text-muted" style="margin-bottom:0px ;">{{product.productSubtitle}}</h4>

                    <div class="buy d-flex justify-content-between align-items-center">
                        <div class="price text-dark">
                            <h5 class="mt-4"><strong><i class="fa fa-inr"></i>{{product.price}}</strong></h5>
                        </div>
                        <a href="#" class="btn btn-primary mt-3"><i class="fa fa-shopping-cart"></i> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

<div id="sidebar">
	<h3>Filter</h3>
    <hr>
    
    <h3>CATEGORIES</h3>
    <div class="checklist categories">
    	<ul>
        	<li><a href=""><span></span>New Arivals</a></li>
            <li><a href=""><span></span>Accesories</a></li>
            <li><a href=""><span></span>Bags</a></li>
            <li><a href=""><span></span>Dressed</a></li>
            <li><a href=""><span></span>Jackets</a></li>
            <li><a href=""><span></span>jewelry</a></li>
            <li><a href=""><span></span>Shoes</a></li>
            <li><a href=""><span></span>Shirts</a></li>
            <li><a href=""><span></span>Sweaters</a></li>
            <li><a href=""><span></span>T-shirts</a></li>
        </ul>
    </div>
    
    <h3>COLORS</h3>
    <div class="checklist colors">
    	<ul>
        	<li><a href=""><span></span>Beige</a></li>
            <li><a href=""><span style="background:#222"></span>Black</a></li>
            <li><a href=""><span style="background:#6e8cd5"></span>Blue</a></li>
            <li><a href=""><span style="background:#f56060"></span>Brown</a></li>
            <li><a href=""><span style="background:#44c28d"></span>Green</a></li>
        </ul>
        
        <ul>
        	<li><a href=""><span style="background:#999"></span>Grey</a></li>
            <li><a href=""><span style="background:#f79858"></span>Orange</a></li>
            <li><a href=""><span style="background:#b27ef8"></span>Purple</a></li>
            <li><a href=""><span style="background:#f56060"></span>Red</a></li>
            <li><a href=""><span style="background:#fff;border: 1px solid #e8e9eb;width:13px;height:13px;"></span>White</a></li>
        </ul>        
    </div>
    
    <h3>SIZES</h3>
    <div class="checklist sizes">
    	<ul>
        	<li><a href=""><span></span>XS</a></li>
            <li><a href=""><span></span>S</a></li>
            <li><a href=""><span></span>M</a></li>
        </ul>
        
        <ul>
        	<li><a href=""><span></span>L</a></li>
            <li><a href=""><span></span>XL</a></li>
            <li><a href=""><span></span>XXL</a></li>
        </ul>        
    </div>
    
     <h3>PRICE RANGE</h3>
     <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/price-range.png" alt="" />
</div>










<div id="toast"></div>
<div id="toast-cart"></div>
<div class="container" style="padding-top: 2px;margin-right: 10px;">
    <div class="row">
        <div class="col-lg-3 product-card"  *ngFor="let product of productList">
            <div class="card" >
                <span id="heart" class="heart"><i onclick="wishList()" class="fa fa-heart"></i></span>
                <img src="{{product.imageUrl}}" class="first-image">
                <div class="card-body" style="padding-top: 20px;">
                    <a class="btn btn-primary mt-3" style="" [routerLink]="" (click)="addItemToCart()"><center><i class="fa fa-shopping-cart"></i></center></a>
                   
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="price text-dark">
                                <h5 class="mt-4"><strong><i class="fa fa-inr"></i>{{product.price}}</strong></h5>
                            </div>
                        </div>
                    </div> -->
                    <hr>
                        <h5 class="card-title" style="text-align: center;"><strong>{{product.productTitle}}</strong></h5>
                        <h5 class="mt-2" style="text-align: center;" ><strong><i class="fa fa-inr"></i>{{product.price}}</strong></h5>
                </div>
            </div>
        </div>
     </div>
</div>